{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      "@babel/preset-typescript"
    ],
    "plugins": [
      [
        "import",
        {
          "libraryName": "@ucloud-fe/react-components",
          "camel2DashComponentName": false,
          "libraryDirectory": "lib/components"
        }
      ]
    ]
  }
  